.btn-see-more{
    background:none;
    color: white;
    border: 1px solid white;
}

/* .caro{
    width: 100%;
    height: 100vh;
} */

.carousel-item img{
    width: 100%;
    height: 100%;
}
.carousel-item{
    width: 100%;
    height: 100vh;
}

.carousel-item img{
    object-fit: cover;
}

.container-fluid hr{
    margin: 5%;
}

.container-fluid h2{
    margin-top: 5%;
}

.navbar{
    background-color: #242424 !important;
}

.nav-link{
    color: white;
}

.nav-home{
    color: white !important;
    
}


a{
    text-decoration: none;
}

.content{
    margin:0px;
    padding: 0px;
}

body{
    background-color: #fafafa;
}

.caption{
    margin: 5%;
}

#psnl-d{
    margin-left: 5%;
    width: 80%;
}

.card{
    margin-left: 5%;
    width: 80%;
    background: none;
    border: none;
    margin-bottom: 2%;
}

.card input{
    width:80%
}

.detail{
    margin-left: 5%;
}